<div class="clear"></div>
<div class="footer">
  <div class="footer-copyright">
    <p>#894</p>
    <a href="https://github.com/spethspeth/bit-sized-reviews" target="_blank"><i class="nes-octocat animate"></i></a>
  </div>
</div>
