<h1> <%= @game.name %> </h1>
<div data-controller="reviews">
  <div data-reviews-target="review">
    <% unless @game.reviews.nil?%>
        <% @game.reviews.each do |review| %>
          <%= render 'review', review: review %>
        <%end%>
    <% end %>
  </div>

  <div data-controller="newreview review">
    <button type="button" class="nes-btn is-primary" data-action="click->newreview#showForm">Review</button>
    <button type="button" class="nes-btn is-error d-none" data-action="click->newreview#hideForm" data-newreview-target="cancel">Cancel</button>
    <div data-newreview-target="form" data-review-target="new"  class="d-none">
      <%= render 'reviews/new' %>
    </div>
  </div>
</div>
