.navbar-lewagon {
  justify-content: space-between;
  border-bottom: solid black 4px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: $light-gray;
  height: 100px;
}

#bforbit {
  color: $red;
}

#sforsized {
  color: $blue;
}

#rforreviews {
  color: $yellow;
}

#greenperiod {
  color: $green;
}
